
#hbody{
    background-color: #E9EFC0;
}

#logo{
    color: #355764;
    font-size:20px;
}
#nav{
    padding-left:30px;
}
#homeh1 {
    font-size: 40px;
    text-align: center;
    color: #4E944F;
    padding-top:30px;
    padding-bottom:30px;
}
#jumbotron {
    background-color: #4E944F;
    background-size: cover;
    height: 300px;
    background-position: center center;
    font-size: 45px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 15px;
    margin-bottom:15px;
    color: #E9EFC0;
}
#phome{
    font-family:Arial;
}

.nav a {
    color: #4E944F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-block:double;
    margin-right:100px;
}